

/* Easy Slider */

	#slider ul, #slider li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider, #slider li{ 
		/* 
			define width and height of container element and list item (slide)
			list items must be the same size as the slider area
		*/ 
		width:476px;/*696px;*/
		height:241px;
		overflow:hidden; 
		}
	#slider li{ 
		background:#f1f1f1;
		}		
	#slider li h2{ 
		margin:0 20px;
		padding-top:20px;
		}	
	#slider li p{ 
		margin:20px;
		}				
	span#prevBtn{}
	span#nextBtn{}
	
						

/* // Easy Slider */

.view .view-content .item-list ul, .view .view-content .item-list li{
	margin:0;
	padding:0;
	list-style:none;
	}
	
.view .view-content .item-list div.view-item{padding: 10px;}
.view .view-content .item-list, .view .view-content .item-list li{ 
	/* 
		define width and height of container element and list item (slide)
		list items must be the same size as the slider area
	*/ 
	width:496px;/*696px;*/
	height:241px;
	overflow:hidden; 
	}
.view .view-content .item-list li{ 
	background:#f1f1f1;
	}		
.view .view-content .item-list li h2{ 
	margin:0 20px;
	padding-top:20px;
	}	
.view .view-content .item-list li p{ 
	margin:20px;
	}